@font-face {
    font-family: Hillshort;
    src: url("../font/Hillshort.otf");
}

@font-face {
    font-family: Disco;
    src: url("../font/Disco-society.otf");
}

@font-face {
    font-family: Cormorant;
    src: url("../font/CormorantGaramond-Medium.ttf");
}