* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    user-select: none;
}

body {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        overflow: hidden;
    }

    font-family: $font-text;
}

h2 {
    @include mediaTextSize(3rem);
}