#about {
    display: grid;
    grid-template: 70vh / 70vw 20vw;
    padding: 2% 5%;

    #subNav {
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            li {
                position: relative;
                font: 3rem $font-title;
                text-transform: uppercase;
                cursor: pointer;
                opacity: .5;
                transition: all .3s;

                &:hover {
                    opacity: 1;
                    @include subNavHover;
                }
            }

            .active {
                opacity: 1;

                &::after {
                    content: "";
                    position: absolute;
                    top: -2vh;
                    left: -1.3vw;
                    filter: url(#turbTest) blur(2px);
                    width: 145%;
                    height: 162%;
                    border-bottom: 5px solid;
                    border-top: 5px solid;
                    backdrop-filter: opacity(0.5);
                    border-radius: 1.2rem;
                    @include subNavActive;
                    transform-origin: center;
                }
            }
        }
    }

    .about {
        display: grid;
        grid-template: 20vh 50vh / 70vw;

        #border-nav {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

    }

    #container_about_me {
        width: 60%;

        p:first-child {
            font-size: 2.5rem;
        }

        .soft {
            opacity: .6;
            font-size: 1.5rem;
        }
    }

    #container_cv {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

        &--education,
        &--work {
            h2 {
                font-size: 3rem;
                padding-bottom: 2rem;
            }

            li {
                padding-bottom: 1.2rem;
                list-style: circle;

                h4 {
                    font-size: 1.5rem;
                }

                p {
                    opacity: .7;
                }
            }
        }

        &--work {
            position: relative;

            h2 {
                position: relative;

                &::before {
                    // content: url("../../img/svg/work.svg");
                    position: absolute;
                    left: -20%;
                    top: 0;
                }
            }

            ul ul {
                padding-left: 3rem;

                li {
                    opacity: .7;
                    list-style: katakana;
                    margin-left: 1rem;
                    transition: all .3s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 20%;
                left: -30%;
                height: 50%;
                width: .5rem;
                filter: blur(2px) url(#turbTest);
                border-left: .3rem solid $light-color;
                opacity: .9;
            }
        }
    }

    #download {
        position: absolute;
        bottom: 2%;
        left: 45.5%;
        cursor: pointer;

        path {
            stroke-dasharray: 30;
            transition: opacity 1s;
        }

        &-popup {
            padding: .1rem .5rem;
            position: absolute;
            bottom: 13%;
            left: 43.5%;
            border-bottom: 1px solid $light-color;
            font-family: $font-text;
            font-weight: 900;
            transition: opacity .3s;
            opacity: 0;
        }

        &:hover+#download-popup {
            opacity: 1;
        }
    }

    #sub_container {
        position: relative;
    }

    //PAGE SKILLS
    #container_skills {
        display: grid;
        justify-items: center;
        align-items: center;

        svg {
            transform: scale(1.3);
            transition: all .5s ease-out;
            cursor: pointer;

            &:hover {
                transform: scale(2);

                & path {
                    transform: rotateY(1turn);
                    fill: $light-color  !important;
                    stroke: $darkness-color  !important;
                }
            }

            path {
                transition: all 1s ease-in-out;
                transform-origin: center;
                stroke-dasharray: 1000;
            }
        }
    }

    //PAGE CONTACT
    #container_contact--title {
        align-self: center;
        display: flex;

        h2 {
            font-size: 4.2rem;
            text-transform: capitalize;
            margin-right: 10vw;
        }

        ul {
            display: flex;
            align-self: center;

            li {
                margin-right: 3vw;

                // border-top: 1px dashed $light-color;

                svg {
                    transition: transform .3s;
                    transform-origin: top left;
                    cursor: pointer;

                    &:hover {
                        transform: rotate(20deg);

                        & path {
                            fill: $light-color  !important;
                        }
                    }

                    path {
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 500;
                    }
                }
            }
        }

    }

    //* Form CSS

    #modal_error {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        color: $darkness-color;
        background-color: #181818ab;
        backdrop-filter: blur(6px);
        text-align: center;
        display: flex;

        .invalid {
            color: $invalid-color;
        }

        .valid {
            color: $valid-color;
        }

        p {
            position: relative;
            margin: auto;
            font: 5rem $font-title;
            border: 2px solid;
            border-radius: 1rem;
            padding: 4rem 8rem;

            span {
                position: absolute;
                right: 5%;
                top: 5%;
                font-size: 6rem;
                cursor: pointer;
            }
        }
    }

    form {
        text-align: center;

        fieldset {
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                position: relative;
                color: $invalid-color;
                visibility: hidden;
                min-width: 15vw;

                &::after {
                    content: "*";
                    position: absolute;
                    right: -5vw;
                    bottom: -2vh;
                }
            }

            input {
                min-width: 25vw;
                padding: .5rem;
                margin-bottom: 1rem;
                font: 1.4rem $font-text;
                font-weight: 900;
                outline: none;
                background: local;
                border: none;
                border-bottom: 2px solid $light-color;
                color: $light-color;
                caret-color: rgba(255, 255, 255, 0.184);
            }
        }

        textarea {
            margin: 0 10vw;
            width: 50vw;
            outline: none;
            font: 1.4rem $font-text;
            font-weight: 900;
            border: none;
            // border-bottom: 2px solid $light-color;
            border-left: 2px solid $light-color;
            // border-right: 2px solid $light-color;
            color: $light-color;
            background: local;
            padding: .5rem;
            padding-left: 2rem;
            resize: none;
        }

        #submit {
            padding: .5rem 4rem;
            font: 2.5rem $font-title;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: .3rem;
            background-color: $light-color;
            color: $darkness-color;
            border: none;
            border-radius: .5rem;
            text-align: center;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background: $darkness-color;
                color: $light-color;
                outline: 1px solid $light-color;
            }
        }

    }

    //! about transition nav
    &-transition {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 6vw;
        background-color: #181818;
        border-left: 1rem solid $light-color;
        filter: blur(5px) url(#turbTest);
    }
}