#doors_container {
    @include absolute($top: 0, $width: 100vw, $height: 100vh);
    overflow: hidden;
}

.doors {
    @include absolute($width: 50%, $height: 100vh, $index: 10);
    @include display(flex, $align-items: center, $justify-content: center);
    overflow: hidden;

    &_right {
        @include doorsResponsive("top");
        top: 0;
        right: 0;
        background: no-repeat center/cover url("../img/background/bgRight.png");

        & button {
            @include buttons;

            &:hover {
                color: $darkness-color;
                background-color: $light-color;
            }
        }

        &::after {
            @include absolute($top: 35%, $left: 0);
            @include logoResponsive("right");
            content: url("../img/rightA.png");
            filter: url(#turbTest);

        }
    }

    &_left {
        @include doorsResponsive("bot");
        background: no-repeat center/cover url("../img/background/bgLeft.png");
        top: 0;
        left: 0;

        & button {
            @include buttons($darkness-color);


            &:hover {
                color: $light-color;
                background-color: $darkness-color;
            }
        }

        &::after {
            @include logoResponsive("left");
            @include absolute($top: 35%, $right: 0, $width: auto);
            content: url("../img/leftA.png");
            filter: url(#turbTest);

        }
    }

    &_top {
        @include absolute($top: -50%, $width: 100vw, $height: 50vh, $index: 3);
        @include display(flex, $align-items: center, $justify-content: center);
        border-bottom: double $light-color;
        background: center/cover url('../img/background/fondDoorsBottom.png');
        color: $light-color;
        text-transform: uppercase;
        @include mediaTextSize(15rem);
        overflow: hidden;

        p {
            position: absolute;
            bottom: -20%;
        }
    }

    &_bottom {
        @include absolute($bottom: -50%, $height: 50vh, $width: 100vw, $index: 3);
        @include display(flex, $align-items: center, $justify-content: center);
        overflow: hidden;
        border-top: double $darkness-color;
        background: center/cover url('../img/background/fondDoorsTop.png');
        color: $darkness-color;
        text-transform: uppercase;
        @include mediaTextSize(13rem);
        overflow: hidden;

        p {
            position: absolute;
            top: -20%;
        }
    }


}