header {
    .container_flex {
        @include display(grid, $grid-template: 20vh/15vw 70vw 15vw, $place-items: center, $align-content: center);

        figure {
            padding-left: 2rem;

            svg {
                height: 8rem;
            }
        }

        h1 {
            font: normal 4.5rem $font-title;
            text-transform: uppercase;
        }

        div {
            position: relative;
            cursor: pointer;
            padding-right: 2rem;
            justify-self: end;
            z-index: 2;

            p:nth-of-type(1) {
                @include absolute($top: 7%, $left: -10%, $content: "");
                font: bold 1rem $font-text;
            }
        }
    }

    nav {
        @include absolute($top: -100%, $left: 0, $height: 100%, $width: 100%, $index: 1, $content: "");
        @include display(flex, $align-items: center, $justify-content: center);
        font: bold 4.5rem $font-text;
        text-transform: uppercase;
        background-color: var(--bgNav);
        text-align: center;

        li {
            margin: 5rem;
            cursor: pointer;

            &:hover {

                @include subNavHover;
            }
        }

        .active {

            opacity: 1;

            &::after {
                @include absolute($top: -2vh, $left: -1.3vw, $width: 145%, $height: 162%, $content: "");
                @include subNavActive;
                filter: url(#turbTest) blur(2px);
                border-bottom: 5px solid;
                border-top: 5px solid;
                backdrop-filter: opacity(0.5);
                border-radius: 1.2rem;
                transform-origin: center;
            }
        }
    }
}