header {
    .container_flex {
        @include display(grid, $grid-template: 20vh/15vw 70vw 15vw, $place-items: center, $align-content: center);

        figure {
            padding-left: 2rem;

            svg {
                @include imgSize(8rem);
            }
        }

        h1 {
            @include mediaTextSize(4.5rem);
            font-family: $font-title;
            font-weight: normal;
            text-transform: uppercase;
        }

        div {
            position: relative;
            cursor: pointer;
            padding-right: 2rem;
            justify-self: end;
            z-index: 4;

            svg {
                @include imgSize(79px);
            }

            p:nth-of-type(1) {
                @include absolute($top: 7%, $left: -10%, $content: "");
                @include mediaTextSize(1rem);
                font-weight: bold;
            }
        }
    }

    nav {
        @include mediaTextSize(4.5rem);
        @include absolute($top: -100%, $left: 0, $height: 100%, $width: 100%, $index: 3, $content: "");
        @include display(flex, $align-items: center, $justify-content: center);
        font-family: $font-text;
        font-weight: 900;
        text-transform: uppercase;
        background-color: var(--bgNav);
        text-align: center;

        li {
            margin: 5rem;
            cursor: pointer;

            &:hover {

                @include subNavHover;
            }
        }
    }
}