#about {
    display: grid;
    grid-template: 70vh / 70vw 20vw;
    padding: 2% 5%;

    #subNav {
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            li {
                position: relative;
                font: 3rem $font-title;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }

    .about {

        display: grid;
        grid-template: 20vh 50vh / 70vw;

        #border-nav {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }


    }

    #container_about_me {
        width: 60%;

        p:first-child {
            font-size: 2.5rem;
        }

        .soft {
            opacity: .6;
            font-size: 1.5rem;
        }
    }

    #container_cv {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

        &--education,
        &--work {
            h2 {
                font-size: 3rem;
                padding-bottom: 2rem;
            }

            li {
                padding-bottom: 1.2rem;
                list-style: circle;

                h4 {
                    font-size: 1.5rem;
                }

                p {
                    opacity: .7;
                }
            }
        }

        &--work {
            position: relative;

            h2 {
                position: relative;

                &::before {
                    // content: url("../../img/svg/work.svg");
                    position: absolute;
                    left: -20%;
                    top: 0;
                }
            }

            ul ul {
                padding-left: 3rem;

                li {
                    opacity: .7;
                    list-style: katakana;
                    margin-left: 1rem;
                    transition: all .3s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 20%;
                left: -30%;
                height: 50%;
                width: .5rem;
                border-radius: 2.3rem;
                background-color: $light-color;
                opacity: .9;
            }
        }
    }

    #download {
        position: absolute;
        bottom: 0;
        left: 45.5%;
        cursor: pointer;

        path {
            stroke-dasharray: 30;
            transition: opacity 1s;
        }

        &-popup {
            padding: .1rem .5rem;
            position: absolute;
            bottom: 11%;
            left: 43.5%;
            border-bottom: 1px solid $light-color;
            font-family: $font-text;
            font-weight: 900;
            transition: opacity .3s;
            opacity: 0;
        }

        &:hover+#download-popup {
            opacity: 1;
        }
    }
}