#about {
    display: grid;
    grid-template: 70vh / 70vw 20vw;
    padding: 2% 5%;

    #subNav {
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            li {
                position: relative;
                font: 3rem $font-title;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }

    .about {
        #border-nav {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }


    }

    #container_about_me {
        width: 60%;

        p:first-child {
            font-size: 2.5rem;
        }

        .soft {
            opacity: .6;
            font-size: 1.5rem;
        }
    }
}