.doors {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s cubic-bezier(.93, .06, .72, .73);

    &_right {
        top: 0;
        right: 0;
        background: no-repeat center/100% url("../img/background/bgRight.png");

        & button {
            @include buttons;

            &:hover {
                color: $darkness-color;
                background-color: $light-color;
            }
        }

        &::after {
            position: absolute;
            content: url("../img/rightA.png");
            top: 35%;
            left: 0;

        }
    }

    &_left {
        background: no-repeat center/100% url("../img/background/bgLeft.png");
        top: 0;
        left: 0;

        & button {
            @include buttons($darkness-color);

            &:hover {
                color: $light-color;
                background-color: $darkness-color;
            }
        }

        &::after {
            position: absolute;
            content: url("../img/leftA.png");
            top: 35%;
            right: 0;

        }
    }

}